{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ room.name }} | {% endblock %}

{% block customstyle %}
.scroll {
    max-height: 100px;
    overflow-y: auto;
}
{% endblock customstyle %}



{% block content %}
<div class="px-4 py-2 my-5 text-center">
    <h1 class="">{{ room.name }}</h1>
</div>

<div>
    <h1>Chat</h1>
</div>
<div class="bg-light text-dark card p-2 scroll" id="chat-window" style="min-height:20rem; width:30rem; margin:2rem;">
    <div class="" id="chat-messages">
        {% for m in messages %}<b>{{ m.user.username }}</b>: {{ m.content }}<br>{% endfor %}
    </div>
</div>

<div class="" style = "border: 2px black">
    <form method="post" action="." class="">
        {% csrf_token %}
        <input type="text" name="content" class="form-control" style="width:30rem; margin:2rem; margin-bottom:1rem;" placeholder="Your message..." id="chat-message-input">

        <button class="btn btn-primary" style="margin-left:2rem;" id="chat-message-submit">Send</button>
    </form>
</div>
<div>
    <h1>Player</h1>
</div>
<div>
    <input id="url-field" type="text" class="form-control" style="width:30rem; margin:2rem; margin-bottom:1rem;" placeholder="Enter youtube url"/>
    <button class="btn btn-primary" id="add-track" title="Add track to playlist" onclick="addTrack()" style="margin-left:2rem;">Add Track</button>
</div>
<div>
    <!--Youtube-->
    <div id="player"></div>
    <!--Player-->
</div>
<div id="playback-controls">
    <button class="btn btn-primary" id="play-button">Play</button>
    <button class="btn btn-primary" id="pause-button">Pause</button>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}


<script src="{% static 'js/socket.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
{% endblock %}